body {
  max-width: 1000px;
  margin: 0 auto;
}

body> div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 100%;
}

table {
  flex-basis: 60%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 30%;
}

label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form > div {
  display: flex;
  justify-content: flex-end;
}
